/* Custom styles for the profile picture */

/* On mobile devices, make the profile picture smaller */
@media (max-width: 768px) {
  /*
   * On mobile, stop floating the profile section and align it to the left.
  */
  .profile {
    float: none !important;
    margin: 2rem 0; /* Remove auto horizontal margins */
    text-align: left; /* Align the image to the left */
  }
  .profile img {
    max-width: 10rem; /* Adjust size as you like. The theme default is 15rem. */
  }

  /* Publications preview image on mobile */
  .publications .preview {
    max-width: 10rem;
    margin: 0 auto 1rem auto;
  }
  .publications .preview img {
    height: auto; /* Ensure aspect ratio is maintained */
    width: 100%;
  }
}