---
layout: page
---
<div class="attendances">
  {{ content }}

{% assign attendances = site.data.attendances | sort: 'date' | reverse %}
{% for item in attendances %}
<details markdown="1">
<summary>
  <span class="badge font-weight-bold date-badge text-uppercase align-middle" style="min-width: 75px; margin-right: 10px;">
      {{ item.date | date: "%B %Y" }}
  </span>
  {% if item.location %}
    <span class="badge font-weight-normal location-badge text-uppercase align-middle">{{ item.location }}</span>
  {% endif %}
  {{ item.title }}
</summary>

{{ item.description }}

  </details>
  {% endfor %}
</div>