---
layout: page
---
<div class="attendances">
  {{ content }}

  {% assign attendances = site.data.attendances | sort: 'date' | reverse %}
  {% for item in attendances %}
  <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
      {{ item.date }}
    </span>
  </div>
  <details markdown="1">
<summary>{{ item.title }} ({{ item.date | date: "%B %Y" }})</summary>

{{ item.description }}

  </details>
  {% endfor %}
</div>